/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: #373fff;
}

h2 {
  font-style: italic;
  font-size: 35px;
  color: #ef00df;
}

a {
  font-style: italic;
  font-size: 30px;
  color: #0fe31f;
}